# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
CoffeeBre1k-s-work/backend/.venv/
venv/
env/

# Environment variables
.env

# IDE
../.idea/
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# parser
script.py
result.txt